html,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 56px;
  bottom: 0;
  height: inherit;
}
#logo{
  max-width: 250px;
  max-height: 53px;
}

h2{
  text-align: center;
  font-size: 175%;
  margin-bottom: -3%;
  margin-top: -1%;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black ;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: -4%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: gray;
  color: white;
}

.topnav-right {
  float: right;
}

#profile{
  height: 30px ;
  width: 40px;
}
.nav-item{
  height: 55px;
}
#searchBox{
  height: 30px;
}

.dropdown {
    float: left;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.details{
    font-size: small;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* The grid: Three equal columns that floats next to each other */
.column {
  height: 100px;
  background-color: #555;
  opacity: 0.8;
  float: left;
  width: 33.33%;
  padding: 33px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  border-right: 3px solid;
  border-left: 3px solid;
}

.column:hover{
  opacity: 1;
}

.containerTab {
  display: none;
  margin-top: 1%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  margin-top: -3%;
  margin-right: -1%;
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0%;
}

/* W3School Code Ends here */

/* book info starts */
.book-info{
  display: grid;
  padding: 5px;
  gap: 5%; 
  grid-template-columns: 22%70%;
  box-shadow: 0 0px 10px rgb(0 0 0 / 30%), 0 0px 0px rgb(0 0 0 / 0%);
}

.book-img{
  padding: 0px;
}

.binfo{
  padding: 20px;
  padding-left: 80px;
}
/* book info ends */

/* collapsible start */


#close1{
  color: #000;
  margin-top: -1%;
  margin-right: 0%;
}

.column:hover{
  opacity: 1;
}

.collapsible {
  margin-top: -5%;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  width: 120%;
  height: 180%;
  border: none;
  text-align: center;
  font-size: 23px;
  opacity: 0.8;
}

.collapsible:hover {
  opacity: 1;
}

.content {
  width: 623%;
  padding: 0 10px;
  margin-top: 15%;
  display: none;
  background-color: #ffffff;
}

.content1 {
  width: 623%;
  padding: 0 10px;
  margin-top: 15%;
  display: none;
  background-color: #ffffff;
  margin-left: -153%;
}

/* collapsible ends */



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li { 
  margin-top:15px;
  display: flex;
  
}

li span{
  display: block;
  text-align: left;
  margin-left: 20px;
}

li div:nth-child(2) span:nth-child(2){
  font-size: 16px;
  margin-top: 6px;
  color: #999;
}



img{
  max-width: 113px;
  max-height: 180px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  bottom: 16%;
  right: 51%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #a91919;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}